/* 
    Just to make sure that the padding won't interefer with the rest of the width of the page
*/
* {
    box-sizing: border-box;
}

.outer-div {
    margin-right: 50px;
    margin-left: 50px;
}

.header-items {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.header-logo {
    margin-right: 250px;
}

.header-links a {
    justify-content: space-between;
    margin-left: 20px;
}

.main-title-items {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

.main-title {
    flex-direction: column ;
    align-self: flex-start;
}

.subtext {
    flex-direction: column;
}

.img {
    flex-direction: row;
    justify-content: flex-end;
}
