/* 
    Just to make sure that the padding won't interefer with the rest of the width of the page
*/
* {
    box-sizing: border-box;
}

.outer-div {
    margin-right: 50px;
    margin-left: 50px;
}

.header-items {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.header-logo {
    margin-right: 250px;
}

.header-links a {
    justify-content: space-between;
    margin-left: 20px;
}

.main-title-items {
    display: flex;
}

.header .header-links a {
    margin: 19px
}

.container {
    display:flex;
    flex-direction: row;
    margin-left: 0;
    margin-right: 0
}

.title {
    flex: 1 1 auto;
    align-self: flex-start;
}

.main-title h1 {
    flex: 1 1 auto;
    margin-bottom: 5px;
    
}

.main-title p {
    flex: 1 1 auto;
    margin-top: 5px;
}

.main-title button {
    flex: 1 1 auto;
    width: 123px;
    height: 34px
}

.image {
    align-self: center;
    flex: 1 1 auto;
    flex-grow: 1
}

.second-title {
    display: flex;
    justify-content: center;
    
}

.second-container {
    display: flex;
    justify-content: space-around;
    align-content: center;
}

.second-container-paragraphs {
    margin: 50px;
    margin-top: 0;
}

.p-divs {
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 25px;

}
        
.p-divs img{
    margin-right: 5px;
}        
